@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #f0b8ff;
    border: none;
}

body {
    background: linear-gradient(to bottom, #0067ee, #559dfa);
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav .navbar-brand {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #008000;
}

footer {
    bottom: 0;
    background-color: #ffff;
    padding: 10px;
    display: block;
	font-family: 'times new roman', sans-serif;
	border-top: 1px solid #4c4c4c;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 7vmax;
}

footer i{
    padding: 5px;
    color: #1E90FF;
    font-size: 17px;
}